# VS Code
.vscode/

# Other
*.sublime-*
.idea
.fscache
.fscache
*.tmp
*.keystore
logs/log.txt
__pycache__
.ipynb_checkpoints
kgs_index.html

#Архив для Колаб
dlgo.zip

#GNU Go (bin Windows)
gnugo-3.8/*.dll
gnugo-3.8/*.exe